* {
  color: white;
}

.background {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: linear-gradient(-179deg,rgb(0,90,107) 0px,rgb(0,135,160) 26%,rgb(51,195,221) 57%,rgb(153,225,238) 100%)

}

.graph-selector{
  font-size: large;
  padding-left: 2rem;
}
.graph {
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 30vh;
  position:absolute;
  bottom: 1rem;
  min-height: 100px;
}
.verticalstrip {
  display: flex;
  height: 100%;
  align-items: flex-end;
  /* flex-basis: 0.25%; */
}
.bar {
  background-color: rgb(53,97,3);
  /* background-color: blue; */
  border-radius: 10px 10px 0 0;
  width: 100%;
  /* flex-grow: 1; */
}

.break{
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 100%;
}

.break2{
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 100%;
}

.verticalstrip:hover {
  background-color: rgb(255, 182, 80) !important;
}


.graph-base {
    width: 100%; /* This will cause the item to take up the entire width and wrap onto the next line */
    background-color: rgb(53,97,3);
    color: black;
    height: 1rem;
    position:fixed;
    bottom: 0rem;
    
}


.production-stat {
  font-weight: 500;
}


