* {
  color: white;
}

.backgroundImage {
  position: absolute;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: linear-gradient(-179deg,rgb(0,90,107) 0px,rgb(0,135,160) 26%,rgb(51,195,221) 57%,rgb(153,225,238) 100%)
}

.customContainer {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
.supersmalltext{
  font-size: 9px;
}

.graph {
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  height: 30vh;
  position:absolute;
  bottom: 1rem;
  min-height: 100px;
}

.verticalstrip {
  display: flex;
  height: 100%;
  align-items: flex-end;
  /* flex-basis: 0.25%; */
}

.break{
  background-color: rgb(255, 255, 255);
  width: 1px;
  opacity: 99%;
  height: 50%;
}

.break2{
  background-color: rgb(255, 255, 255);
  width: 1px;
  height: 100%;
}

.verticalstrip:hover {
  background-color: rgb(255, 182, 80) !important;
}

.sunGrid {
  z-index: -20;
  grid-template-columns: 23% 54% 23%;
  grid-template-rows: 8% 40% 52%;
}

.sunCircle {
  animation: shine 4s ease-in-out infinite;
  /* z-index: 1000; */
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cloudGrid {
  z-index: -19;
  grid-template-columns: 50% 50%;
  grid-template-rows: 35% 60%;
}


@keyframes shine {
  50% {
    box-shadow: 0 0 20px rgb(255, 220, 114), 
    0 0 50px rgb(255, 220, 114),
     0 0 80px rgb(255, 220, 114), 
     0 0 120px rgb(255, 220, 114);
  }
}

@media (orientation: landscape) {
  .sunGrid .heroContainer .largestSquare {
    height: 100%;
    width: auto;
  }
}

@media (orientation: portrait) {

  .sunGrid .heroContainer .largestSquare {
    width: 100%; 
    height: 50%;
    margin-top: 70%;
    margin-right: 100%;
  }
  .hide-when-portrait {
    display: none
  }
  .cloudGrid {
    display: none;
  }
}
